.container {
  width: 800px;
  width: 90%;
  margin: 30px auto;
  background-color: #ddd;

  display: grid;
  // grid-template-rows: repeat(2, min-content);

  // max-content, makes column as wide as it has to, in order to fit the content without any LINE BREAKS
  // min-content, the column track takes the largest width that is needed to fit this content without OVERFLOWING

  // for 1 WORD there's no difference between max & min
  // grid-template-columns: min-content 1fr 1fr min-content;
  // grid-template-rows: 150px min-content;

  // minmax() means at the min it should be x, & at max it should be y, the value can be anywhere in the middle
  grid-template-rows: repeat(2, minmax(150px, min-content));
  grid-template-columns: minmax(200px, 1fr) repeat(3, 1fr);

  .item {
    // padding: 1px;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    background-color: orangered;

    &--1 {
      background-color: orangered;
    }
    &--2 {
      background-color: yellowgreen;
    }
    &--3 {
      background-color: blueviolet;
    }
    &--4 {
      background-color: palevioletred;
    }
    &--5 {
      background-color: royalblue;
    }
    &--6 {
      background-color: goldenrod;
    }
    &--7 {
      background-color: crimson;
    }
    &--8 {
      background-color: darkslategray;
    }
  }
}
